body {
    padding-top: 5rem;
    background-color: #2b2d37;
    color: white;
}

img {
    max-width: 100%;
}

h1 small, h2 small {
    white-space: nowrap;
}

.img-thumbnail-inline {
    display: inline-block;
}

:target:before {
    content: "";
    display: block;
    height: 5rem;
    margin: -5rem 0 0;
}

.breadcrumb {
    background-color: #ffffff30;
}

.breadcrumb-item {
    color: white;
}

.breadcrumb-item.active {
    color: chartreuse;
}

.thead-my {
    background-color: #2364;
}